In [84]:
# Staring of the Project



import pandas as pd
from IPython.display import display

ad_sales = pd.read_csv("/content/Product-Level Ad Sales and Metrics (mapped) - Product-Level Ad Sales and Metrics (mapped) - Copy.csv")
total_sales = pd.read_csv("/content/Product-Level Total Sales and Metrics (mapped) - Product-Level Total Sales and Metrics (mapped) .csv")
eligibility = pd.read_csv("/content/Product-Level Eligibility Table (mapped) - Product-Level Eligibility Table (mapped)  - Copy.csv")

# Display heads
print(" Ad Sales Data:")
display(ad_sales.head())

print(" Total Sales Data:")
display(total_sales.head())

print(" Eligibility Data:")
display(eligibility.head())

 Ad Sales Data:

         date  item_id  ad_sales  impressions  ad_spend  clicks  units_sold
0  2025-06-01        0    332.96         1963     16.87       8           3
1  2025-06-01        1      0.00         1764     20.39      11           0
2  2025-06-01        2     95.99          169      0.48       0           1
3  2025-06-01        3   1001.93         6943     75.69      31           9
4  2025-06-01        4   1096.98        59046    401.39     285           5

 Total Sales Data:

         date  item_id  total_sales  total_units_ordered
0  2025-06-01        0       309.99                    1
1  2025-06-01        3       338.00                    2
2  2025-06-01        4       617.99                    3
3  2025-06-01        9       219.00                    1
4  2025-06-01       12       534.00                    3

 Eligibility Data:

,eligibility_datetime_utc,item_id,eligibility,message
0,2025-06-04 8:50:07,29,False,This product's cost to Amazon does not allow u...
1,2025-06-04 8:50:07,270,True,NaN
2,2025-06-04 8:50:07,31,True,NaN
3,2025-06-04 8:50:07,26,True,NaN
4,2025-06-04 8:50:07,25,True,NaN

In [85]:
def clean_columns(df):
    df.columns = (
        df.columns
        .str.strip()
        .str.lower()
        .str.replace('[^a-z0-9_]', '_', regex=True)
    )
    return df

ad_sales = clean_columns(ad_sales)
total_sales = clean_columns(total_sales)
eligibility = clean_columns(eligibility)

In [86]:
print("Ad Sales:\n", ad_sales.isnull().sum())
print("\nTotal Sales:\n", total_sales.isnull().sum())
print("\nEligibility:\n", eligibility.isnull().sum())

Ad Sales:
 date           0
item_id        0
ad_sales       0
impressions    0
ad_spend       0
clicks         0
units_sold     0
dtype: int64

Total Sales:
 date                   0
item_id                0
total_sales            0
total_units_ordered    0
dtype: int64

Eligibility:
 eligibility_datetime_utc       0
item_id                        0
eligibility                    0
message                     3745
dtype: int64

In [87]:
# Preview
ad_sales.head(), total_sales.head(), eligibility.head()

# Check nulls
print("Ad Sales:\n", ad_sales.isnull().sum())
print("\nTotal Sales:\n", total_sales.isnull().sum())
print("\nEligibility:\n", eligibility.isnull().sum())

Ad Sales:
 date           0
item_id        0
ad_sales       0
impressions    0
ad_spend       0
clicks         0
units_sold     0
dtype: int64

Total Sales:
 date                   0
item_id                0
total_sales            0
total_units_ordered    0
dtype: int64

Eligibility:
 eligibility_datetime_utc       0
item_id                        0
eligibility                    0
message                     3745
dtype: int64

In [88]:
import seaborn as sns
import matplotlib.pyplot as plt

def correlation_analysis(dataset, label=None):
    df_corr = dataset.copy()

    # Factorize object types
    for col in df_corr.select_dtypes(include='object').columns:
        df_corr[col] = pd.factorize(df_corr[col])[0]

    # Compute correlation
    corr_matrix = df_corr.corr()

    # Plot heatmap
    plt.figure(figsize=(12, 8))
    sns.heatmap(corr_matrix, cmap='coolwarm', annot=True)
    plt.title("Correlation Matrix")
    plt.show()

    # Correlation with label (if applicable)
    if label and label in corr_matrix.columns:
        label_corr = corr_matrix[label].drop(label)
        threshold = 0.05
        not_useful = label_corr[abs(label_corr) < threshold]
        useful = label_corr[abs(label_corr) >= threshold]

        result_df = pd.DataFrame({
            "Not Useful Features (|corr| < 0.05)": not_useful.index.tolist() + [""] * (len(useful) - len(not_useful)),
            "Useful Features (|corr| >= 0.05)": useful.index.tolist() + [""] * (len(not_useful) - len(useful))
        })
        print(result_df.to_string(index=False))

In [89]:
# Remove Duplicates
ad_sales.drop_duplicates(inplace=True)
total_sales.drop_duplicates(inplace=True)
eligibility.drop_duplicates(inplace=True)

# Drop rows missing critical info (based on analysis)
ad_sales.dropna(subset=['item_id', 'ad_spend', 'clicks'], inplace=True)
total_sales.dropna(subset=['item_id', 'total_sales'], inplace=True)
eligibility.dropna(subset=['item_id', 'eligibility'], inplace=True)

# Fill other columns if needed
# Note: The 'CPC' column does not exist in ad_sales DataFrame, so this line will be removed.
# ad_sales['CPC'] = ad_sales['CPC'].fillna(ad_sales['CPC'].mean())

In [90]:
ad_sales['date'] = pd.to_datetime(ad_sales['date'])
pd.to_datetime(eligibility['eligibility_datetime_utc'])

0      2025-06-04 08:50:07
1      2025-06-04 08:50:07
2      2025-06-04 08:50:07
3      2025-06-04 08:50:07
4      2025-06-04 08:50:07
               ...
4376   2025-06-03 08:50:28
4377   2025-06-03 08:50:28
4378   2025-06-03 08:50:28
4379   2025-06-03 08:50:28
4380   2025-06-03 08:50:28
Name: eligibility_datetime_utc, Length: 4381, dtype: datetime64[ns]

In [91]:
def clean_columns(df):
    df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
    return df

ad_sales = clean_columns(ad_sales)
total_sales = clean_columns(total_sales)
eligibility = clean_columns(eligibility)

In [92]:
print(ad_sales.info())
print(total_sales.info())
print(eligibility.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3696 entries, 0 to 3695
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         3696 non-null   datetime64[ns]
 1   item_id      3696 non-null   int64
 2   ad_sales     3696 non-null   float64
 3   impressions  3696 non-null   int64
 4   ad_spend     3696 non-null   float64
 5   clicks       3696 non-null   int64
 6   units_sold   3696 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(4)
memory usage: 202.3 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 702 entries, 0 to 701
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 702 non-null    object
 1   item_id              702 non-null    int64
 2   total_sales          702 non-null    float64
 3   total_units_ordered  702 non-null    int64
dtypes: float64(1), int64(2), object(1)
memory usage: 22.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4381 entries, 0 to 4380
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   eligibility_datetime_utc  4381 non-null   object
 1   item_id                   4381 non-null   int64
 2   eligibility               4381 non-null   bool
 3   message                   636 non-null    object
dtypes: bool(1), int64(1), object(2)
memory usage: 107.1+ KB
None

In [93]:
ad_sales.to_csv("clean_ad_sales.csv", index=False)
total_sales.to_csv("clean_total_sales.csv", index=False)
eligibility.to_csv("clean_eligibility.csv", index=False)

In [94]:
import sqlite3

# Connect to in-memory DB or create file-based DB
conn = sqlite3.connect('ecommerce.db')
cursor = conn.cursor()

In [95]:
ad_sales = pd.read_csv('clean_ad_sales.csv')
total_sales = pd.read_csv('clean_total_sales.csv')
eligibility = pd.read_csv('clean_eligibility.csv')

In [96]:
ad_sales.to_sql('AdSales', conn, if_exists='replace', index=False)
total_sales.to_sql('TotalSales', conn, if_exists='replace', index=False)
eligibility.to_sql('Eligibility', conn, if_exists='replace', index=False)

4381

In [97]:
ad_sales.to_csv('product_level_sales_and_metrics_improved.csv', index=False)
print("Done")

Done

In [98]:
eligibility.to_csv('product_level_eligibility_table_improved.csv', index=False)
print("Done")

Done

In [99]:
total_sales.to_csv('producT_leve_totla_sales_and_metrics_improved.csv', index = False)
print("Done")

Done

SQL Table Creation

In [100]:
import sqlite3

In [101]:
db_file_path = 'ecommerce_data.db'
print(f"Database will be stored temporarily at: {db_file_path}")

Database will be stored temporarily at: ecommerce_data.db

In [102]:
conn = sqlite3.connect(db_file_path)
cursor = conn.cursor()

In [103]:
create_eligibility_sql = """
CREATE TABLE IF NOT EXISTS product_level_eligibility_table (
    item_id INTEGER NOT NULL,
    eligibility_datetime_utc DATETIME NOT NULL,
    eligibility BOOLEAN, -- SQLite stores BOOLEAN as INTEGER (0 for False, 1 for True)
    message TEXT,        -- Allows NULL values as it's not NOT NULL
    PRIMARY KEY (item_id, eligibility_datetime_utc)
);
"""
cursor.execute(create_eligibility_sql)
print("Table 'product_level_eligibility_table' created or already exists.")

Table 'product_level_eligibility_table' created or already exists.

In [104]:
create_ad_sales_sql = """
CREATE TABLE IF NOT EXISTS product_level_ad_sales_metrics (
    date DATE NOT NULL,
    item_id INTEGER NOT NULL,
    ad_sales REAL,
    impressions INTEGER,
    ad_spend REAL,
    clicks INTEGER,
    units_sold INTEGER,
    PRIMARY KEY (date, item_id)
);
"""
cursor.execute(create_ad_sales_sql)
print("Table 'product_level_ad_sales_metrics' created or already exists.")

Table 'product_level_ad_sales_metrics' created or already exists.

In [105]:
create_total_sales_sql = """
CREATE TABLE IF NOT EXISTS product_level_total_sales_metrics (
    date DATE NOT NULL,
    item_id INTEGER NOT NULL,
    total_sales REAL,
    total_units_ordered INTEGER,
    PRIMARY KEY (date, item_id)
);
"""
cursor.execute(create_total_sales_sql)
print("Table 'product_level_total_sales_metrics' created or already exists.")

Table 'product_level_total_sales_metrics' created or already exists.

In [106]:
conn.commit()
print("All table schemas committed to the database.")

All table schemas committed to the database.

In [107]:
# Assuming the dataframes 'ad_sales', 'total_sales', and 'eligibility' are already loaded and cleaned from previous steps.
# If not, you would need to load them first, e.g.:
# ad_sales = pd.read_csv('clean_ad_sales.csv')
# total_sales = pd.read_csv('clean_total_sales.csv')
# eligibility = pd.read_csv('clean_eligibility.csv')

# Ensure eligibility dataframe has 'eligibility' column as integer for SQLite
eligibility['eligibility'] = eligibility['eligibility'].astype(int)

print("Loading data into SQL tables...")

# --- FIX: Change 'if_exists' to 'replace' for initial load/testing ---
# This will drop the table if it exists and recreate it before inserting.
eligibility.to_sql(
    'product_level_eligibility_table',
    conn,
    if_exists='replace', # Changed from 'append' to 'replace'
    index=False
)
print("Data loaded into 'product_level_eligibility_table'.")

ad_sales.to_sql(
    'product_level_ad_sales_metrics',
    conn,
    if_exists='replace', # Changed from 'append' to 'replace'
    index=False
)
print("Data loaded into 'product_level_ad_sales_metrics'.")

total_sales.to_sql(
    'product_level_total_sales_metrics',
    conn,
    if_exists='replace', # Changed from 'append' to 'replace'
    index=False
)
print("Data loaded into 'product_level_total_sales_metrics'.")

conn.commit()
print("All data committed to the database.")

Loading data into SQL tables...
Data loaded into 'product_level_eligibility_table'.
Data loaded into 'product_level_ad_sales_metrics'.
Data loaded into 'product_level_total_sales_metrics'.
All data committed to the database.

## The tables are now created!! So the next step is to pick an LLM or an api key to handle the entire process

In [108]:
!pip install -U google-generativeai

Requirement already satisfied: google-generativeai in /usr/local/lib/python3.11/dist-packages (0.8.5)
Requirement already satisfied: google-ai-generativelanguage==0.6.15 in /usr/local/lib/python3.11/dist-packages (from google-generativeai) (0.6.15)
Requirement already satisfied: google-api-core in /usr/local/lib/python3.11/dist-packages (from google-generativeai) (2.25.1)
Requirement already satisfied: google-api-python-client in /usr/local/lib/python3.11/dist-packages (from google-generativeai) (2.176.0)
Requirement already satisfied: google-auth>=2.15.0 in /usr/local/lib/python3.11/dist-packages (from google-generativeai) (2.38.0)
Requirement already satisfied: protobuf in /usr/local/lib/python3.11/dist-packages (from google-generativeai) (5.29.5)
Requirement already satisfied: pydantic in /usr/local/lib/python3.11/dist-packages (from google-generativeai) (2.11.7)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from google-generativeai) (4.67.1)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.11/dist-packages (from google-generativeai) (4.14.1)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.3 in /usr/local/lib/python3.11/dist-packages (from google-ai-generativelanguage==0.6.15->google-generativeai) (1.26.1)
Requirement already satisfied: googleapis-common-protos<2.0.0,>=1.56.2 in /usr/local/lib/python3.11/dist-packages (from google-api-core->google-generativeai) (1.70.0)
Requirement already satisfied: requests<3.0.0,>=2.18.0 in /usr/local/lib/python3.11/dist-packages (from google-api-core->google-generativeai) (2.32.3)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from google-auth>=2.15.0->google-generativeai) (5.5.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.11/dist-packages (from google-auth>=2.15.0->google-generativeai) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.11/dist-packages (from google-auth>=2.15.0->google-generativeai) (4.9.1)
Requirement already satisfied: httplib2<1.0.0,>=0.19.0 in /usr/local/lib/python3.11/dist-packages (from google-api-python-client->google-generativeai) (0.22.0)
Requirement already satisfied: google-auth-httplib2<1.0.0,>=0.2.0 in /usr/local/lib/python3.11/dist-packages (from google-api-python-client->google-generativeai) (0.2.0)
Requirement already satisfied: uritemplate<5,>=3.0.1 in /usr/local/lib/python3.11/dist-packages (from google-api-python-client->google-generativeai) (4.2.0)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.11/dist-packages (from pydantic->google-generativeai) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in /usr/local/lib/python3.11/dist-packages (from pydantic->google-generativeai) (2.33.2)
Requirement already satisfied: typing-inspection>=0.4.0 in /usr/local/lib/python3.11/dist-packages (from pydantic->google-generativeai) (0.4.1)
Requirement already satisfied: grpcio<2.0.0,>=1.33.2 in /usr/local/lib/python3.11/dist-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-ai-generativelanguage==0.6.15->google-generativeai) (1.73.1)
Requirement already satisfied: grpcio-status<2.0.0,>=1.33.2 in /usr/local/lib/python3.11/dist-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-ai-generativelanguage==0.6.15->google-generativeai) (1.71.2)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in /usr/local/lib/python3.11/dist-packages (from httplib2<1.0.0,>=0.19.0->google-api-python-client->google-generativeai) (3.2.3)
Requirement already satisfied: pyasn1<0.7.0,>=0.6.1 in /usr/local/lib/python3.11/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=2.15.0->google-generativeai) (0.6.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0,>=2.18.0->google-api-core->google-generativeai) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0,>=2.18.0->google-api-core->google-generativeai) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0,>=2.18.0->google-api-core->google-generativeai) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0,>=2.18.0->google-api-core->google-generativeai) (2025.7.14)

In [109]:
import os
import pandas as pd
import sqlite3
import google.generativeai as genai
print("Libraries installed and imported.")

Libraries installed and imported.

In [110]:
db_file_path = 'ecommerce_data.db'
print(f"Database will be stored temporarily at: {db_file_path}")

Database will be stored temporarily at: ecommerce_data.db

In [111]:
conn = sqlite3.connect(db_file_path)
cursor = conn.cursor()
print("Connected to SQLite database.")

Connected to SQLite database.

In [112]:
print("\nConfiguring Gemini Pro LLM...")
# Get API key from Colab Secrets
try:
    from google.colab import userdata
    # This correctly references the secret named 'GOOGLE_API_KEY'
    GOOGLE_API_KEY = userdata.get('GOOGLE_API_KEY')
    genai.configure(api_key=GOOGLE_API_KEY)
    print("Gemini API key loaded from Colab Secrets and configured.")
except Exception as e:
    print(f"ERROR: Could not load Gemini API key from Colab Secrets. Please check secret name and access: {e}")
    print("Ensure your Gemini API key is stored as a Colab Secret named 'GOOGLE_API_KEY' and notebook access is enabled.")

Configuring Gemini Pro LLM...
Gemini API key loaded from Colab Secrets and configured.

In [113]:
gemini_model = genai.GenerativeModel('models/gemini-2.0-flash')
print("Gemini Flash model initialized.")

Gemini Flash model initialized.

In [114]:
def get_table_schema(cursor):
    """Fetches the schema of all tables in the SQLite database."""
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()
    schema_info = {}
    for table_name_tuple in tables:
        table_name = table_name_tuple[0]
        cursor.execute(f"PRAGMA table_info({table_name});")
        columns = cursor.fetchall()
        column_details = []
        for col in columns:
            cid, name, ctype, notnull, dflt_value, pk = col
            column_details.append(f"{name} {ctype} {'NOT NULL' if notnull else ''} {'PRIMARY KEY' if pk else ''}")
        schema_info[table_name] = ", ".join(column_details)
    return schema_info

In [115]:
def ask_llm_for_sql(question: str, schema: dict, gemini_model) -> str:
    """
    Asks the Gemini Pro LLM to convert a natural language question into an SQL query.
    """
    schema_str = "\n".join([f"Table: {table}\nColumns: {cols}" for table, cols in schema.items()])

    prompt_parts = [
        "You are an expert SQL query generator. Your sole purpose is to convert user questions into precise and accurate SQL queries.",
        "You must use the provided database schema to identify the correct tables and columns.",
        "Strictly adhere to the schema provided below.",
        "",
        "Here is the database schema:",
        schema_str,
        "",
        "**Important Rules for SQL Generation:**",
        "-   **Always select the correct table(s) based on the question's context.**",
        "    -   'total sales', 'units ordered' -> use `product_level_total_sales_metrics`",
        "    -   'ad sales', 'impressions', 'ad spend', 'clicks', 'units sold from ads', 'CPC', 'RoAS' -> use `product_level_ad_sales_metrics`",
        "    -   'eligible products', 'eligibility status' -> use `product_level_eligibility_table`",
        "-   Use appropriate SQL aggregate functions (SUM, AVG, MAX, MIN, COUNT) for questions involving totals, averages, highest/lowest, or counts.",
        "-   Use JOINs only when necessary to combine data from different tables based on common columns (like item_id or date).",
        "-   Filter data using WHERE clauses (e.g., for specific dates, item_ids, or eligibility status).",
        "-   When asked for 'Which product...' or 'Top X products...', use `GROUP BY item_id` with `ORDER BY` and `LIMIT`.",
        "-   Ensure column names and table names exactly match the schema.",
        "-   For RoAS, use `SUM(ad_sales) * 1.0 / SUM(ad_spend)` to ensure float division.",
        "-   For CPC, use `SUM(ad_spend) * 1.0 / SUM(clicks)` to ensure float division.",
        "-   **Output Format: STRICTLY ONLY THE SQL QUERY. DO NOT include any markdown code blocks (e.g., ```sql ```), introductory text, explanations, or concluding remarks.**",
        "",
        "Examples:",
        "User Question: What is my total sales?",
        "SQL Query: SELECT SUM(total_sales) FROM product_level_total_sales_metrics;",
        "",
        "User Question: Calculate the RoAS (Return on Ad Spend).",
        "SQL Query: SELECT SUM(ad_sales) * 1.0 / SUM(ad_spend) FROM product_level_ad_sales_metrics;",
        "",
        "User Question: Which product had the highest CPC (Cost Per Click)?",
        "SQL Query: SELECT item_id, SUM(ad_spend) * 1.0 / SUM(clicks) AS cpc FROM product_level_ad_sales_metrics GROUP BY item_id ORDER BY cpc DESC LIMIT 1;",
        "",
        "User Question: How many eligible products are there?",
        "SQL Query: SELECT COUNT(DISTINCT item_id) FROM product_level_eligibility_table WHERE eligibility = 1;",
        "",
        "User Question: What was the total units ordered on 2023-01-01?",
        "SQL Query: SELECT SUM(total_units_ordered) FROM product_level_total_sales_metrics WHERE date = '2023-01-01';",
        "",
        "User Question: Show me the ad sales for item 12345 on 2023-01-05.",
        "SQL Query: SELECT ad_sales FROM product_level_ad_sales_metrics WHERE item_id = 12345 AND date = '2023-01-05';",
        "",
        f"User Question: {question}",
        "SQL Query:"
    ]

    try:
        response = genai.GenerativeModel.generate_content(gemini_model, "\n".join(prompt_parts))
        generated_text = response.text.strip()

        # Refined parsing logic (same as before, it's good to keep this for robustness)
        if generated_text.lower().startswith("```sql"):
            generated_text = generated_text[len("```sql"):].strip()
        if generated_text.endswith("```"):
            generated_text = generated_text[:-len("```")].strip()
        if generated_text.startswith("```"):
            generated_text = generated_text[len("```"):].strip()

        sql_lines = generated_text.split('\n')
        final_sql = []
        in_sql_block = False
        for line in sql_lines:
            stripped_line_upper = line.strip().upper()
            if not in_sql_block and any(stripped_line_upper.startswith(kw) for kw in ["SELECT", "INSERT", "UPDATE", "DELETE", "CREATE", "DROP", "ALTER", "WITH", "PRAGMA"]):
                in_sql_block = True
                final_sql.append(line)
            elif in_sql_block:
                if stripped_line_upper == "" or (not any(char.isalpha() for char in stripped_line_upper) and ';' not in stripped_line_upper):
                    break
                final_sql.append(line)

        sql_query = "\n".join(final_sql).strip()

        if sql_query and not sql_query.endswith(';'):
            last_word = sql_query.split()[-1].upper() if sql_query.split() else ""
            if not any(last_word.endswith(kw) for kw in ["FROM", "WHERE", "BY", "LIMIT", "ON"]):
                 sql_query += ';'

        return sql_query
    except Exception as e:
        print(f"Error generating or parsing SQL from Gemini: {e}")
        return "ERROR: Failed to generate or parse SQL query from LLM."

In [116]:
def execute_sql_query(cursor, sql_query):
    """Executes an SQL query and returns the results."""
    try:
        cursor.execute(sql_query)
        result = cursor.fetchall()
        column_names = [description[0] for description in cursor.description] if cursor.description else []
        return result, column_names
    except sqlite3.Error as e:
        print(f"SQL Error: {e}")
        return None, None

In [117]:
def format_answer(question: str, result: list, column_names: list) -> str:
    """
    Formats the SQL query result into a human-readable string.
    """
    if result is None:
        return "I encountered an error while querying the database."
    if not result:
        return "I couldn't find any relevant data for that question."

    if len(result) == 1 and len(result[0]) == 1:
        value = result[0][0]
        if isinstance(value, (int, float)):
            return f"The {question.lower()} is: {value:,.2f}" if 'sales' in question.lower() or 'spend' in question.lower() else f"The {question.lower()} is: {value}"
        else:
            return f"The answer to '{question}' is: {value}"
    else:
        df_result = pd.DataFrame(result, columns=column_names)
        return f"Here is the data for '{question}':\n{df_result.to_string(index=False)}"

In [118]:
# Main AI Agent Function
def ask_ai_agent(question: str, gemini_model, cursor) -> str:
    """
    Orchestrates the AI agent's process to answer a question.
    """
    print(f"\nUser: {question}")
    print("Fetching schema...")
    schema = get_table_schema(cursor)
    print("Schema fetched.")

    print("Asking LLM for SQL query...")
    sql_query = ask_llm_for_sql(question, schema, gemini_model)
    print(f"Generated SQL: {sql_query}")

    if sql_query.startswith("ERROR:"):
        return sql_query

    print("Executing SQL query...")
    query_result, column_names = execute_sql_query(cursor, sql_query)
    print("SQL query executed.")

    print("Formatting answer...")
    human_readable_answer = format_answer(question, query_result, column_names)
    print("Answer formatted.")

    return human_readable_answer

In [122]:
%%writefile run_agent.py
# run_agent.py - This script runs your AI agent from the Colab Terminal

# --- Phase 0: Initial Setup and Imports ---
# These packages need to be installed in the terminal's environment.
# We'll use subprocess to ensure they are installed when the script runs.
import subprocess
import sys
import time
import os

def install_packages():
    print("Installing/Upgrading necessary Python packages...")
    try:
        # Use sys.executable to ensure pip is called from the correct Python environment
        subprocess.check_call([sys.executable, "-m", "pip", "install", "-U", "google-generativeai", "pandas", "matplotlib", "seaborn"])
        print("Packages installed successfully.")
    except subprocess.CalledProcessError as e:
        print(f"Error installing packages: {e}")
        sys.exit(1)

install_packages() # Run installation when the script starts

import pandas as pd
import sqlite3
import google.generativeai as genai
import matplotlib.pyplot as plt
import seaborn as sns

print("Libraries imported: pandas, sqlite3, google.generativeai, matplotlib, seaborn.") # DEBUG PRINT

# --- Phase 1: Database Setup and Connection ---

# Define Database File Path (Temporary Storage - will be deleted when session ends)
db_file_path = 'ecommerce_data.db'
print(f"Database will be stored temporarily at: {db_file_path}")

# Connect to the SQLite database file
conn = sqlite3.connect(db_file_path)
cursor = conn.cursor()
print("Connected to SQLite database.")


# --- Phase 2: Define and Create SQL Tables ---
create_eligibility_sql = """
CREATE TABLE IF NOT EXISTS product_level_eligibility_table (
    item_id INTEGER NOT NULL,
    eligibility_datetime_utc DATETIME NOT NULL,
    eligibility BOOLEAN,
    message TEXT,
    PRIMARY KEY (item_id, eligibility_datetime_utc)
);
"""
cursor.execute(create_eligibility_sql)
print("Table 'product_level_eligibility_table' created or already exists.")

create_ad_sales_sql = """
CREATE TABLE IF NOT EXISTS product_level_ad_sales_metrics (
    date DATE NOT NULL,
    item_id INTEGER NOT NULL,
    ad_sales REAL,
    impressions INTEGER,
    ad_spend REAL,
    clicks INTEGER,
    units_sold INTEGER,
    PRIMARY KEY (date, item_id)
);
"""
cursor.execute(create_ad_sales_sql)
print("Table 'product_level_ad_sales_metrics' created or already exists.")

create_total_sales_sql = """
CREATE TABLE IF NOT EXISTS product_level_total_sales_metrics (
    date DATE NOT NULL,
    item_id INTEGER NOT NULL,
    total_sales REAL,
    total_units_ordered INTEGER,
    PRIMARY KEY (date, item_id)
);
"""
cursor.execute(create_total_sales_sql)
print("Table 'product_level_total_sales_metrics' created or already exists.")

conn.commit()
print("All table schemas committed to the database.")



#phase 3:Data committing to Database
df_eligibility = pd.read_csv("product_level_eligibility_table_improved.csv")
df_eligibility['eligibility_datetime_utc'] = pd.to_datetime(df_eligibility['eligibility_datetime_utc'])
df_eligibility['eligibility'] = df_eligibility['eligibility'].astype(int)

df_ad_sales = pd.read_csv("product_level_ad_sales_and_metrics_improved.csv")
df_ad_sales['date'] = pd.to_datetime(df_ad_sales['date'])

df_total_sales = pd.read_csv("product_level_total_sales_and_metrics_improved.csv")
df_total_sales['date'] = pd.to_datetime(df_total_sales['date'])

print("DataFrames loaded and prepped.")
print("Loading data into SQL tables...")

df_eligibility.to_sql( 'product_level_eligibility_table', conn, if_exists='replace', index=False)
print("Data loaded into 'product_level_eligibility_table'.")

df_ad_sales.to_sql( 'product_level_ad_sales_metrics', conn, if_exists='replace', index=False)
print("Data loaded into 'product_level_ad_sales_metrics'.")

df_total_sales.to_sql( 'product_level_total_sales_metrics', conn, if_exists='replace', index=False)
print("Data loaded into 'product_level_total_sales_metrics'.")

conn.commit()
print("All data committed to the database.")


# --- Phase 4: Configure and Use Gemini Flash LLM ---

print("\nConfiguring Gemini Flash LLM...")
# CORRECTED: Use os.getenv() to read API key from environment variable
GOOGLE_API_KEY = os.getenv('GOOGLE_API_KEY')
if GOOGLE_API_KEY:
    genai.configure(api_key=GOOGLE_API_KEY)
    print("Gemini API key loaded from environment variable and configured.")
else:
    print("ERROR: GOOGLE_API_KEY environment variable not found.")
    print("Please set the GOOGLE_API_KEY environment variable in the terminal before running this script.")
    sys.exit(1) # Exit if API key is not found

# Initialize the Gemini Flash model
gemini_model = genai.GenerativeModel('models/gemini-1.5-flash') # Using 1.5-flash for potential better performance
print("Gemini Flash model initialized.")


# --- Phase 5: AI Agent Core Logic Functions ---

def get_table_schema(cursor):
    """Fetches the schema of all tables in the SQLite database."""
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()
    schema_info = {}
    for table_name_tuple in tables:
        table_name = table_name_tuple[0]
        cursor.execute(f"PRAGMA table_info({table_name});")
        columns = cursor.fetchall()
        column_details = []
        for col in columns:
            cid, name, ctype, notnull, dflt_value, pk = col
            column_details.append(f"{name} {ctype} {'NOT NULL' if notnull else ''} {'PRIMARY KEY' if pk else ''}")
        schema_info[table_name] = ", ".join(column_details)
    return schema_info


def ask_llm_for_sql(question: str, schema: dict, gemini_model) -> str:
    """
    Asks the Gemini LLM to convert a natural language question into an SQL query.
    Returns the full generated SQL query string.
    """
    schema_str = "\n".join([f"Table: {table}\nColumns: {cols}" for table, cols in schema.items()])

    prompt_parts = [
        "You are an expert SQL query generator. Your sole purpose is to convert user questions into precise and accurate SQL queries.",
        "You must use the provided database schema to identify the correct tables and columns.",
        "Strictly adhere to the schema provided below.",
        "",
        "Here is the database schema:",
        schema_str,
        "",
        "**Important Rules for SQL Generation:**",
        "-   **Always select the correct table(s) based on the question's context.**",
        "    -   'total sales', 'units ordered' -> use `product_level_total_sales_metrics`",
        "    -   'ad sales', 'impressions', 'ad spend', 'clicks', 'units sold from ads', 'CPC', 'RoAS' -> use `product_level_ad_sales_metrics`",
        "    -   'eligible products', 'eligibility status' -> use `product_level_eligibility_table`",
        "-   Use appropriate SQL aggregate functions (SUM, AVG, MAX, MIN, COUNT) for questions involving totals, averages, highest/lowest, or counts.",
        "-   Use JOINs only when necessary to combine data from different tables based on common columns (like item_id or date).",
        "-   Filter data using WHERE clauses (e.g., for specific dates, item_ids, or eligibility status).",
        "-   When asked for 'Which product...' or 'Top X products...', use `GROUP BY item_id` with `ORDER BY` and `LIMIT`.",
        "-   Ensure column names and table names exactly match the schema.",
        "-   For RoAS, use `SUM(ad_sales) * 1.0 / SUM(ad_spend)` to ensure float division.",
        "-   For CPC, use `SUM(ad_spend) * 1.0 / SUM(clicks)` to ensure float division.",
        "-   **Output Format: STRICTLY ONLY THE SQL QUERY. DO NOT include any markdown code blocks (e.g., ```sql ```), introductory text, explanations, or concluding remarks.**",
        "",
        "Examples:",
        "User Question: What is my total sales?",
        "SQL Query: SELECT SUM(total_sales) FROM product_level_total_sales_metrics;",
        "",
        "User Question: Calculate the RoAS (Return on Ad Spend).",
        "SQL Query: SELECT SUM(ad_sales) * 1.0 / SUM(ad_spend) FROM product_level_ad_sales_metrics;",
        "",
        "User Question: Which product had the highest CPC (Cost Per Click)?",
        "SQL Query: SELECT item_id, SUM(ad_spend) * 1.0 / SUM(clicks) AS cpc FROM product_level_ad_sales_metrics GROUP BY item_id ORDER BY cpc DESC LIMIT 1;",
        "",
        "User Question: Show the daily total sales for the last 7 days.",
        "SQL Query: SELECT date, SUM(total_sales) FROM product_level_total_sales_metrics WHERE date >= date('now', '-7 days') GROUP BY date ORDER BY date;",
        "",
        f"User Question: {question}",
        "SQL Query:"
    ]

    full_generated_sql_text = ""
    try:
        response = gemini_model.generate_content("\n".join(prompt_parts))
        full_generated_sql_text = response.text.strip()

        generated_text = full_generated_sql_text.strip()

        if generated_text.lower().startswith("```sql"):
            generated_text = generated_text[len("```sql"):].strip()
        if generated_text.endswith("```"):
            generated_text = generated_text[:-len("```")].strip()
        if generated_text.startswith("```"):
            generated_text = generated_text[len("```"):].strip()

        sql_lines = generated_text.split('\n')
        final_sql = []
        in_sql_block = False
        for line in sql_lines:
            stripped_line_upper = line.strip().upper()
            if not in_sql_block and any(stripped_line_upper.startswith(kw) for kw in ["SELECT", "INSERT", "UPDATE", "DELETE", "CREATE", "DROP", "ALTER", "WITH", "PRAGMA"]):
                in_sql_block = True
                final_sql.append(line)
            elif in_sql_block:
                if stripped_line_upper == "" or (not any(char.isalpha() for char in stripped_line_upper) and ';' not in stripped_line_upper):
                    break
                final_sql.append(line)

        sql_query = "\n".join(final_sql).strip()

        if sql_query and not sql_query.endswith(';'):
            last_word = sql_query.split()[-1].upper() if sql_query.split() else ""
            if not any(last_word.endswith(kw) for kw in ["FROM", "WHERE", "BY", "LIMIT", "ON"]):
                    sql_query += ';'

        return sql_query
    except Exception as e:
        print(f"Error generating or parsing SQL from Gemini: {e}")
        return "ERROR: Failed to generate or parse SQL query from LLM."


def execute_sql_query(cursor, sql_query):
    """Executes an SQL query and returns the results."""
    try:
        cursor.execute(sql_query)
        result = cursor.fetchall()
        column_names = [description[0] for description in cursor.description] if cursor.description else []
        return result, column_names
    except sqlite3.Error as e:
        print(f"SQL Error: {e}")
        return None, None

def generate_plot(df_result: pd.DataFrame, question: str, plot_filename: str):
    """Generates and saves a plot based on the query result."""
    print(f"DEBUG: Attempting to generate plot for question: '{question}' to {plot_filename}") # DEBUG PRINT
    print(f"DEBUG: DataFrame columns: {df_result.columns.tolist()}") # DEBUG PRINT
    print(f"DEBUG: DataFrame head:\n{df_result.head()}") # DEBUG PRINT

    plt.figure(figsize=(10, 6))

    plotted = False
    if 'date' in df_result.columns and ('total_sales' in df_result.columns or 'ad_sales' in df_result.columns):
        # Time series plot for sales
        y_col = 'total_sales' if 'total_sales' in df_result.columns else 'ad_sales'
        if y_col in df_result.columns: # Ensure the column actually exists in the df
            df_result['date'] = pd.to_datetime(df_result['date']) # Ensure date is datetime type for plotting
            title = f"{y_col.replace('_', ' ').title()} Over Time"
            sns.lineplot(x='date', y=y_col, data=df_result)
            plt.title(title)
            plt.xlabel("Date")
            plt.ylabel(y_col.replace('_', ' ').title())
            plt.xticks(rotation=45)
            plt.tight_layout()
            plt.savefig(plot_filename)
            plt.close()
            plotted = True
            print(f"DEBUG: Successfully generated time series plot: {plot_filename}") # DEBUG PRINT

    elif 'item_id' in df_result.columns: # Check if item_id exists for bar plots
        numeric_cols = df_result.select_dtypes(include=['number']).columns.drop('item_id', errors='ignore')
        if not numeric_cols.empty:
            y_col_to_plot = None
            # Prioritize common metrics for plotting
            if 'ad_sales' in numeric_cols: y_col_to_plot = 'ad_sales'
            elif 'total_sales' in numeric_cols: y_col_to_plot = 'total_sales'
            elif 'impressions' in numeric_cols: y_col_to_plot = 'impressions'
            elif 'ad_spend' in numeric_cols: y_col_to_plot = 'ad_spend'
            elif 'clicks' in numeric_cols: y_col_to_plot = 'clicks'
            elif 'units_sold' in numeric_cols: y_col_to_plot = 'units_sold'
            elif 'cpc' in numeric_cols: y_col_to_plot = 'cpc'
            elif 'roas' in numeric_cols: y_col_to_plot = 'roas'
            else: y_col_to_plot = numeric_cols[0] # Fallback to first numeric if specific not found

            if y_col_to_plot: # Ensure we have a column to plot
                title = f"{y_col_to_plot.replace('_', ' ').title()} by Item ID"
                sns.barplot(x='item_id', y=y_col_to_plot, data=df_result)
                plt.title(title)
                plt.xlabel("Item ID")
                plt.ylabel(y_col_to_plot.replace('_', ' ').title())
                plt.xticks(rotation=45)
                plt.tight_layout()
                plt.savefig(plot_filename)
                plt.close()
                plotted = True
                print(f"DEBUG: Successfully generated bar plot: {plot_filename}") # DEBUG PRINT

    if not plotted:
        print("DEBUG: No suitable columns found for plotting or conditions not met.") # DEBUG PRINT
    return plotted


def stream_response(text: str, delay: float = 0.02):
    """Simulates real-time typing by printing text character by character."""
    for char in text:
        sys.stdout.write(char)
        sys.stdout.flush()
        time.sleep(delay)
    sys.stdout.write('\n') # Ensure a newline at the end

def format_answer(question: str, result: list, column_names: list) -> str:
    """
    Formats the SQL query result into a human-readable string and generates plots.
    """
    if result is None:
        return "I encountered an error while querying the database."
    if not result:
        return "I couldn't find any relevant data for that question."

    df_result = pd.DataFrame(result, columns=column_names)
    plot_message = ""
    plot_filename = ""
    plot_generated = False # Flag to indicate if a plot was successfully generated

    print(f"DEBUG: Entering format_answer. Query result has {len(df_result)} rows.") # DEBUG PRINT

    # Determine if a plot is appropriate and generate it
    # Criteria for plotting:
    # 1. More than one row of data.
    # 2. Contains 'date' and a quantitative column (for line plots).
    # 3. Contains 'item_id' and a quantitative column (for bar plots).
    if len(df_result) > 1:
        # Check for time-series data
        if 'date' in df_result.columns: # No need for datetime check here, it will be done in generate_plot
            relevant_cols_time = [col for col in ['total_sales', 'ad_sales', 'ad_spend', 'impressions'] if col in df_result.columns]
            if relevant_cols_time:
                plot_filename = f"plot_time_series_{int(time.time())}.png"
                plot_generated = generate_plot(df_result[['date'] + relevant_cols_time], question, plot_filename)

        # If no time series plot was generated, try item-level
        if not plot_generated and 'item_id' in df_result.columns:
            numeric_cols_item = df_result.select_dtypes(include=['number']).columns.drop('item_id', errors='ignore')
            if not numeric_cols_item.empty:
                plot_filename = f"plot_item_level_{int(time.time())}.png"
                plot_generated = generate_plot(df_result[['item_id'] + list(numeric_cols_item)], question, plot_filename)

    if plot_generated:
        plot_message = f"\nI've also generated a plot for you: {plot_filename}"

    if len(result) == 1 and len(result[0]) == 1:
        value = result[0][0]
        if isinstance(value, (int, float)):
            formatted_value = f"{value:,.2f}" if 'sales' in question.lower() or 'spend' in question.lower() else str(value)
            return f"The {question.lower()} is: {formatted_value}" + plot_message
        else:
            return f"The answer to '{question}' is: {value}" + plot_message
    else:
        return f"Here is the data for '{question}':\n{df_result.to_string(index=False)}" + plot_message


# --- Main AI Agent Function (for command-line interaction) ---
def ask_ai_agent_cli(question: str, gemini_model, cursor) -> str:
    """
    Orchestrates the AI agent's process to answer a question for CLI.
    """
    stream_response(f"AI: Processing your request...", delay=0.01)

    schema = get_table_schema(cursor)

    stream_response("AI: Generating SQL query...", delay=0.01)
    sql_query = ask_llm_for_sql(question, schema, gemini_model)
    stream_response(f"AI: Generated SQL: {sql_query}", delay=0.005) # Slower reveal for the SQL

    if sql_query.startswith("ERROR:"):
        stream_response(sql_query, delay=0.03)
        return "" # Return empty string as the error message is already streamed

    stream_response("AI: Executing SQL query...", delay=0.01)
    query_result, column_names = execute_sql_query(cursor, sql_query)

    stream_response("AI: Formatting answer...", delay=0.01)
    human_readable_answer = format_answer(question, query_result, column_names)

    stream_response("AI: Here's what I found:", delay=0.01)
    stream_response(human_readable_answer, delay=0.005) # Slower reveal for the answer

    return "" # Return empty string as the answer is already streamed


# --- Interactive Command-Line Interface Loop (Entry Point) ---
if __name__ == "__main__": # This ensures the code below only runs when the script is executed directly
    # Get the schema once
    db_schema = get_table_schema(cursor)
    stream_response("\n--- Database Schema ---", delay=0.01)
    for table, cols in db_schema.items():
        stream_response(f"{table}: {cols}", delay=0.005)
    stream_response("---------------------\n", delay=0.01)

    stream_response("--- AI Agent Command-Line Interface ---", delay=0.01)
    stream_response("Type your questions and press Enter. Type 'exit' to quit.", delay=0.01)
    stream_response("Examples: 'What is my total sales?', 'Calculate the RoAS (Return on Ad Spend).'", delay=0.01)
    stream_response("You can also try: 'Show daily total sales for the last 5 days', 'Which product had the most ad sales?'", delay=0.01)
    stream_response("---------------------------------------\n", delay=0.01)

    while True:
        user_question = input("You: ")
        if user_question.lower().strip() == 'exit':
            stream_response("AI: Goodbye!", delay=0.05)
            break

        ask_ai_agent_cli(user_question, gemini_model, cursor)

    # Close the database connection when the loop exits
    conn.close()
    stream_response("AI: Database connection closed.", delay=0.01)

Overwriting run_agent.py

In [120]:
#What are the impressions per item
#sample questions for graphical representation